<h1>Países por moneda</h1>
<form #formulario="ngForm" (submit)="getPaises()">
  <div class="form-group">
    <label for="divisa">Introduzca una divisa:</label>
    <input
      type="text"
      class="form-control"
      id="divisa"
      name="divisa"
      [(ngModel)]="divisaSeleccionada"
      required
        #divisa="ngModel"
    />
    <!-- <select id="categoria" name="categoria" class="form-select" [(ngModel)]="divisaSeleccionada" required
        #comidas="ngModel">
        <option *ngFor="let divisa of divisas" [value]="divisa.strCategory">{{divisa.strCategory}}
        " [value]="divisa.strCategory">{{divisa.strCategory}}
        </option>
      </select> -->


    <div *ngIf="divisa.invalid && divisa.touched" class="text-danger">
      Es obligatorio indicar una divisa.
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
    Aceptar
  </button>
</form>


<!--   
  <p-table #dt1 [value]="recetario.meals" [paginator]="true" [rows]="10"
  [globalFilterFields]="['strMeal']">
  <ng-template pTemplate="caption">
    <div class="flex">
        <button pButton label="Quitar filtro" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Introduce texto" />
        </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Foto</th>
          <th pSortableColumn="strMeal"><p-sortIcon field="strMeal"></p-sortIcon>Título</th>
      </tr>
      <tr>
        <th></th>
        <th>
            <p-columnFilter type="text" field="strMeal"></p-columnFilter>
        </th>
      </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-receta>
    <tr>
      <td><img class="foto" [src]="receta.strMealThumb" /></td>
      <td>{{ receta.strMeal }}</td>
    </tr>
  </ng-template>
  </p-table>
  
  <div class="alert alert-danger" role="alert" *ngIf="mostrarError">
  No se ha podido acceder a la información de recetas
  </div>
   -->
