<h1>Países por moneda</h1>
<form #formulario="ngForm" (submit)="getPaises()">
  <div class="form-group">
    <label for="divisa">Seleccione divisa:</label>
    <select
      id="divisa"
      name="divisa"
      class="form-select"
      [(ngModel)]="divisaSeleccionada"
      required
      #comidas="ngModel"
    >
      <option *ngFor="let divisa of divisas" [value]="divisa.code">
        {{ divisa.code + " - " + divisa.name }}
      </option>
    </select>
    <div *ngIf="comidas.invalid && comidas.touched" class="text-danger">
      La categoría es obligatoria
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
    Aceptar
  </button>
</form>

<div *ngIf="mostrarError" class="alert alert-danger" role="alert">
  No se ha podido acceder a la información de países
</div>

<p-table
    [value]="paises"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Name</th>
            <th style="width:25%">Country</th>
            <th style="width:25%">Company</th>
            <th style="width:25%">Representative</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pais>
        <tr>
            <td>{{ pais.name.common }}</td>
            <td>{{ pais.name.common }}</td>
            <td>{{ pais.name.common }}</td>
            <td>{{ pais.name.common }}</td>
        </tr>
    </ng-template>
</p-table>